In [1]:
# 下载gazpacho

%pip install gazpacho

^C
Note: you may need to restart the kernel to use updated packages.

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: gazpacho in c:\users\陈诺1224\appdata\local\programs\python\python311\lib\site-packages (1.1)

[notice] A new release of pip is available: 23.1.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import gazpacho

In [5]:
# 提供目标网址
URL= "https://www.olympedia.org/lists/120/manual"

In [6]:
# 爬取网页内容
html = gazpacho.get(URL)

In [64]:
# 核验（显示爬取html的长度）
len(html)

978765

In [63]:
# 另一种方法：当网页不支持直接获取时，可先下载该网页，然后再载入
file_path = r"C:\Users\陈诺1224\Desktop\Learning\Everything\chapter08\List of world records in swimming - Wikipedia.html"
with open(file_path, "r", encoding="utf-8") as file:
    html = file.read()

In [73]:
# 找到table的最小index：在html中table的标签开头为<table，find功能可以找到该标签对应的最小index
# 从table标签一栏中找到前500：list[:]
from_where = html.find("<table")
html[from_where:from_where+500]

'<table class="wikitable sortable jquery-tablesorter" style="font-size: 95%;">\n<caption>\n</caption>\n<thead><tr>\n<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Event\n</th>\n<th style="width:4em" class="unsortable">Time\n</th>\n<th class="unsortable">\n</th>\n<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Name</th>\n<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Nationality</th>\n<th class='

In [74]:
# 将网页转换成soup便于查找
soup = gazpacho.Soup(html)

In [18]:
# 利用“print（dir())”来显示可用功能
print(dir(soup))

['attrs', 'find', 'get', 'html', 'strip', 'tag', 'text']

In [75]:
# 在soup中查找table，mode="all" 规定返回值为一个列表
tables =  soup.find("table", mode="all")

In [76]:
type(tables)

list

In [78]:
# 在第一个table中查找行，“tr”是表格行的标签，返回一个列表
rows =  tables[0].find("tr", mode="all")
len(rows)

21

In [80]:
# 显示第一行的内容，通常为列名
rows[0]

<tr>
  <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Event
</th>
  <th style="width:4em" class="unsortable">Time
</th>
  <th class="unsortable">
</th>
  <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Name</th>
  <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Nationality</th>
  <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Date</th>
  <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Meet</th>
  <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Location
</th>
  <th style="width:2em" class="unsortable">Ref
</th>
</tr>

In [81]:
# 利用enumerate遍历“序号+每个tables”，找到每一个表格，显示表格序号和对应的行数
for n, table in enumerate(tables):
    rows = table.find("tr",mode = "all")
    print(f"{n} -> {len(rows)} rows")

1 -> 21 rows
2 -> 1 rows
3 -> 21 rows
4 -> 3 rows
5 -> 25 rows
6 -> 26 rows
7 -> 4 rows
8 -> 26 rows
9 -> 1 rows
10 -> 7 rows
11 -> 5 rows
12 -> 8 rows

In [88]:
# 找到第一个表格，从数据行开始[1:]，提取每行中的每个“td”（table data），返回为列表，提取其中的值".txt"
table = tables[0]
for row in table.find("tr", mode="all")[1:]:
    columns = row.find("td",mode="all")
    event = columns[0].text
    time = columns[1].text
    print(f"{event} => {time}")

50m freestyle => 20.91
100m freestyle => 46.40
200m freestyle => 1:42.00
400m freestyle => 3:40.07
800m freestyle => 7:32.12
1500m freestyle => 14:30.67
50m backstroke => 23.55
100m backstroke => 51.60
200m backstroke => 1:51.92
50m breaststroke => 25.95
100m breaststroke => 56.88
200m breaststroke => 2:05.48
50m butterfly => 22.27
100m butterfly => 49.45
200m butterfly => 1:50.34
200m individual medley => 1:54.00
400m individual medley => 4:02.50
4 × 100 m freestyle relay => 3:08.24
4 × 200 m freestyle relay => 6:58.55
4 × 100 m medley relay => 3:26.78

In [85]:
# 找index为0，2，4，5表格，对应项目名称
RECORDS = (0,2,4,5)
COURSES = ("LC Men","LC Women","SC Men","SC Women")

list(zip(RECORDS, COURSES))

In [91]:
# zip把表格序号和类别名称对应上，for遍历的两个值是zip一对：打印类别名称，以及每个项目名称和时间（从数据框td里获取）
for table, course in zip(RECORDS, COURSES):
    print(f"{course}:")
    for row in tables[table].find("tr", mode="all")[1:]:
        columns = row.find("td", mode="all")
        event = columns[0].text
        time = columns[1].text
        print(f"\t{event} -> {time}")
    print()

LC Men:
	50m freestyle -> 20.91
	100m freestyle -> 46.40
	200m freestyle -> 1:42.00
	400m freestyle -> 3:40.07
	800m freestyle -> 7:32.12
	1500m freestyle -> 14:30.67
	50m backstroke -> 23.55
	100m backstroke -> 51.60
	200m backstroke -> 1:51.92
	50m breaststroke -> 25.95
	100m breaststroke -> 56.88
	200m breaststroke -> 2:05.48
	50m butterfly -> 22.27
	100m butterfly -> 49.45
	200m butterfly -> 1:50.34
	200m individual medley -> 1:54.00
	400m individual medley -> 4:02.50
	4 × 100 m freestyle relay -> 3:08.24
	4 × 200 m freestyle relay -> 6:58.55
	4 × 100 m medley relay -> 3:26.78

LC Women:
	50m freestyle -> 23.61
	100m freestyle -> 51.71
	200m freestyle -> 1:52.23
	400m freestyle -> 3:55.38
	800m freestyle -> 8:04.79
	1500m freestyle -> 15:20.48
	50m backstroke -> 26.86
	100m backstroke -> 57.13
	200m backstroke -> 2:03.14
	50m breaststroke -> 29.16
	100m breaststroke -> 1:04.13
	200m breaststroke -> 2:17.55
	50m butterfly -> 24.43
	100m butterfly -> 55.18
	200m butterfly -> 2:01.81
	200m individual medley -> 2:06.12
	400m individual medley -> 4:24.38
	4 × 100 m freestyle relay -> 3:27.96
	4 × 200 m freestyle relay -> 7:37.50
	4 × 100 m medley relay -> 3:49.63

SC Men:
	50m freestyle -> 19.90
	100m freestyle -> 44.84
	200m freestyle -> 1:38.61
	400m freestyle -> 3:32.25
	800m freestyle -> 7:20.46
	1500m freestyle -> 14:06.88
	50m backstroke -> 22.11
	100m backstroke -> 48.33
	200m backstroke -> 1:45.63
	50m breaststroke -> 24.95
	100m breaststroke -> 55.28
	200m breaststroke -> 2:00.16
	50m butterfly -> 21.32
	100m butterfly -> 47.71
	200m butterfly -> 1:46.85
	100m individual medley -> 49.28
	200m individual medley -> 1:48.88
	400m individual medley -> 3:54.81
	4 × 50 m freestyle relay -> 1:21.80
	4 × 50 m freestyle relay -> 1:20.77
	4 × 100 m freestyle relay -> 3:01.66
	4 × 200 m freestyle relay -> 6:40.51
	4 × 50 m medley relay -> 1:29.72
	4 × 100 m medley relay -> 3:18.68

SC Women:
	50m freestyle -> 22.83
	100m freestyle -> 50.25
	200m freestyle -> 1:50.31
	400m freestyle -> 3:50.25
	800m freestyle -> 7:57.42
	1500m freestyle -> 15:08.24
	50m backstroke -> 25.23
	100m backstroke -> 54.02
	200m backstroke -> 1:58.04
	50m breaststroke -> 28.37
	100m breaststroke -> 1:02.36
	100m breaststroke -> 1:02.36
	100m breaststroke -> 1:02.36
	200m breaststroke -> 2:12.50
	50m butterfly -> 23.94
	100m butterfly -> 52.71
	200m butterfly -> 1:59.32
	100m individual medley -> 55.11
	200m individual medley -> 2:01.63
	400m individual medley -> 4:15.48
	4 × 50 m freestyle relay -> 1:32.50
	4 × 100 m freestyle relay -> 3:25.01
	4 × 200 m freestyle relay -> 7:30.13
	4 × 50 m medley relay -> 1:42.35
	4 × 100 m medley relay -> 3:40.41